header {
  background: darkblue;
  color: white;
  height: 40px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 1px 3px gray;
}
