<h2>Details</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <input type="hidden" formControlName="id">
  <label>Name: <input formControlName="name"></label>
  <label>Author: <input formControlName="author"></label>
  <label>Published: <input formControlName="published" type="number"></label>
  <label>Available: <input formControlName="available" type="checkbox"></label>
  <label>Cover URL: <input formControlName="coverUrl"></label>

  <button type="submit" [disabled]="!form.valid">Update</button>
</form>
